* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "poppins", "Roboto", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #39b1fc;
  --secondary: #42da8a;
  --textColor: #fff;
}

body {
  overflow-x: hidden;
  background-color: #ecebeb;
}

a,
ul,
li,
button {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

/* .whatsapp{
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50px;
  top: 90vh;
  left: 80vw;
} */
.main {
  position: absolute;
  margin-top: 80px;
}

header {
  width: 100vw;
  height: 85px;
  position: absolute;
  padding: 4px 4.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s ease-in-out;
  /* box-shadow: 0 0 8px 2px #d0dcff; */
}

.header.active {
  /* height: 392px; */
  height: fit-content;
  flex-direction: column;
  justify-content: flex-start;
  transition: .5s ease-in-out;
  /* position: relative; */
  background-color: black;
  margin-bottom: -80px;
  z-index: 1;
}


.logo {
  width: 250px;
  /* padding: 2rem; */
}

.logo img {
  width: 160px;
}

.headerList {
  width: 64%;
  padding: 6px 12px 6px 6px;
}

.headerList.active {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 1s ease-in-out;
  animation: list 1s ease-in-out;
}

@keyframes list {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.headerList.active .mainUl {
  flex-direction: column;
}

.headerList.active .mainUl li {
  margin: 10px auto;
}

.mainUl {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mainUl li {
  transition: 0.8s;
  font-weight: 700;
  letter-spacing: 1px;
  border: 2px solid transparent;
  padding: 4px;
}

.mainUl a {
  padding: 4px;
  /* border: 2px solid transparent; */
  transition: 0.5s;
  color: #39b1fc;

}

.activePage {
  padding: 4px;
  border-bottom: 2px solid #39b1fc !important;
  color: #39b1fc;
}

.mainUl li:hover {
  border-bottom: 2px solid #39b1fc;
  color: #39b1fc;
}


.mainUl li:hover ul {

  opacity: 1;
  visibility: visible;
}

.mainUl li ul {
  display: flex;
  flex-flow: column;
  border-radius: 20px;
  /* box-shadow: 0 0 7px #d1c7c7; */
  width: max-content;
  background-color: #fff;
  position: absolute;
  margin-top: 15px;
  opacity: 0;
  visibility: hidden;
}

.mainUl ul li {
  list-style: none;
  padding: 12px 20px;
  border-bottom: 1px solid #d1c7c742;
  width: 100%;
}

.mainUl ul li:hover {
  color: var(--primary);
  border-bottom: 1px solid #d1c7c742;
}

.hamburgerDiv {
  display: none;
  width: 80%;
}

.hamburger {
  margin: auto 15px;
  float: right;
  width: 42px;
  height: 42px;
  border: 1px solid var(--primary);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.line {
  width: 70%;
  height: 5px;
  background-color: var(--primary);
  margin: -3px;
  position: relative;
  transition: .3s;
}

.line.active {
  transition: .3s;
}

.line.active:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.line.active:nth-child(2) {
  display: none;
}

.line.active:nth-child(3) {
  transform: rotate(-45deg);
  top: -5px;
}
.mainBody{
  position: fixed;
  width: 100vw;
  height: 1000px;
  background-image: url(https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  /* background-color: rgb(246, 247, 252); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.mainBody::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 1000px;
  /* background:linear-gradient(118deg,#314477,#3cb1e2,#87d1ff); */
  background: linear-gradient(118deg, black, black, rgb(5, 2, 34), #75c1f0);
  opacity: 60%;
}

.mainContainer {
  width: 100vw;
  height: 695px;
  background-image: url(https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  /* background-color: rgb(246, 247, 252); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 1px;
  /* position: relative; */
}

.mainContainer::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 699px;
  /* background:linear-gradient(118deg,#314477,#3cb1e2,#87d1ff); */
  background: linear-gradient(118deg, black, black, rgb(5, 2, 34), #75c1f0);
  opacity: 60%;
  top: 0;
  
  /* margin: -5px -4px; */
}

.Container {
  margin-top: 75px;
  display: flex;
  align-items: center;

  width: 100%;
}

.Headings {
  position: relative;
  width: 58%;
  margin: 3rem 2px 2px 5rem;
}


.Headings h1 {
  font-size: 30px;
  font-weight: 300;
  color: var(--textColor);
  /* text-shadow:0 0 7px #fff; */
}

.Headings h2 {
  font-size: 68px;
  font-weight: bold;
  color: var(--textColor);
  /* text-shadow:3px 2px 6px #fff; */
}

.Headings p {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.8rem;
  padding: 7px 24px 7px 0;
  line-height: 2.4rem;
  color: var(--textColor);
  /* text-shadow:0 0 3px #fff; */
}

.btns {
  padding: 15px 0;
  width: 340px;
  display: flex;
  justify-content: space-between;

}

.portfolioBtn {
  font-size: 16px;
  padding: 11px 15px;
  background-color: var(--primary);
  color: #fff;
  border-radius: 30px;
  border: transparent;
  letter-spacing: 1px;
  transition: 0.8s;
  font-weight: 500;
}

/* .portfolioBtn:hover,
.read:hover {
  background-color: #000;
  color: var(--primary);
} */

.contactBtn {
  letter-spacing: 1px;
  background-color: transparent;
  font-size: 16px;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 30px;
  padding: 12px 16px;
  transition: 0.8s;
  font-weight: 700;
}

.contactBtn:hover {
  background-color: var(--primary);
  color: #fff;
}

.imagee {
  width: 50%;
}

.imagee img {
  width: 65%;
}

.detailDiv {
  background-color: #fff;
  overflow-y: visible;
  position: relative;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -4rem;
}

.detail {
  background-color: #fff;
  width: 25%;
  height: 354px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-flow: column;
  border: transparent;
  box-shadow: 0 0 5px #ada8a8;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.detail:nth-child(1){
  margin-top: -2.6em;
}
.detail:nth-child(2){
  margin-top: -2.6em;
}
.detail:nth-child(3){
  margin-top: -2.6em;
}

.detail img {
  width: 100px;
}

.detail h3 {
  font-size: 20px;
  color: #12b98e;
  letter-spacing: 1px;
  /* padding: 8px auto; */
  margin: 1em auto;
}

.detail p {
  width: 98%;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
}

.designs {
  width: 100vw;
  height: 698px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /* margin: 2em auto; */
  padding: 4px 4.2em;
  background-color: #fff !important;

}

.aboutDesigns {
  width: 51%;
  padding: 10px;
}

.designs h3 {
  font-size: 62px;
  font-weight: 500;
}

.designs p {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.3em;
  font-weight: 400;
  padding: 14px 10px;
}

.groupImg {
  width: 48%;
  background-color: #fff !important;
}

.groupImg img {
  width: 100%;
  border-radius: 10em 0 10em 10em;
}

.read {
  font-size: 18px;
  font-weight: 500;
  padding: 13px 17px;
  margin: 12px auto;
  background-color: var(--primary);
  color: var(--textColor);
  border-radius: 30px;
  border: transparent;
  letter-spacing: 1px;
  transition: 0.8s;
}

.empowerSec {
  width: 100vw;
  height: 598px;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 4.2em;
  justify-content: space-around;
  /* margin-bottom: 2em; */
  /* background-color: #e7e7e7; */
}

.inDiv {
  width: 27%;

}

.divInDiv {
  width: 94%;
  height: 40%;
  border-radius: 20px;
  box-shadow: 0 0 3px #d1c7c7;
  background-color: var(--primary);
  padding: 42px 55px;
  margin: 14px auto;
}

.inDiv:nth-child(2) .divInDiv:nth-child(2),
.inDiv:nth-child(1) .divInDiv:nth-child(1) {
  height: 55%;
  display: flex;
  align-items: unset;
  justify-content: center;
  flex-flow: column;
}

.divInDiv img {
  padding: 10px;
  width: 90px;
}

.divInDiv h4 {
  font-size: 18px;
  color: #fff;
}

.empowerdetail {
  width: 35%;
  padding: 14px 1px;
  
}

.empowerdetail h2 {
  font-size: 38px;
  width: 94%;
  color: #fff;
}

.empowerdetail p {
  font-size: 18px;
  letter-spacing: .98px;
  line-height: 1.5em;
  font-weight: 400;
  color: #fff;
}

.empowerdetail button {
  margin-top: 13px;
}


.valuesSection {
  width: 100vw;
  padding: 2em auto 1em auto;
  background-color: #fff;
}

.values {
  margin: 10px auto 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em 1rem;
}

.value {
  text-align: center;
  /* padding: 2em;
  border: 1px solid var(--primary);
  border-radius: 20px; */
}

.value h1 {
  font-size: 32px;
}

.value h2 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
}

.estimate {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

}

.estimateDiv {
  width: 86%;
  color: #fff;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  border-radius: 20px;
  padding: 20px;
}

.estimateDiv h1 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.estimateDiv button {
  font-size: 18px;
  padding: 12px 18px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 25px;
}

.secret {
  background-color: #fff;
  width: 100vw;
  padding: 12px 16px;
}

.secret h1 {
  padding: 12px;
  font-size: 32px;
  width: fit-content;
  margin: auto;
}

.secretDiv {
  width: 95vw;
  margin: auto;
  padding: 1em 4em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inSecret {
  width: 31%;
  height: 532px;
  padding: 12px;
  border: transparent;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 12px #8d8989;
  margin: 10px auto;
}

.inSecret img {
  width: 100%;
  padding: 12px 0 4px 0;
  margin: auto;
}

.inSecret h2 {
  font-size: 23px;
  font-weight: 600;
  width: 100%;
  margin: 12px auto;
}

.inSecret p {
  padding: 14px 6px;
  font-size: 18px;
  letter-spacing: .5px;
  width: 100%;
  height: 50%;
  margin: auto;
  color: #8d8989;
}



footer {
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  /* background-color: rgb(246, 247, 252); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 4em;
  height: 400px;
}
footer::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 400px;
  /* top: 0; */
  left: 0;
  background: linear-gradient(118deg, black, black, rgb(5, 2, 34), #75c1f0);
  opacity: 60%;
  margin: -15px -4px;
}
.foot {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  color: var(--textColor);
  /* flex-wrap: wrap; */
}

.inFoot {
  width: 35%;
  height: 65%;
  padding: 10px;
  margin: 10px;
}

.inFoot img {
  width: 250px;
  padding: 10px;
}

.inFoot p {
  font-size: 18px;
  padding: 10px;
}

.inFoot ul {
  padding: 10px;
}

.inFoot ul li,.inFoot ul li a{
  font-size: 18px;
  padding: 8px;
  color: var(--textColor);

}

/* .address li:hover {
  font-size: 17px;
} */


.footIcon {
  width: 100%;
  /* height: 16%; */
  /* display: flex; */
  /* justify-content: flex-start;
  flex-direction: column; */
  /* border-top:1px solid #1010af ; */
}

.footDetail {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2em;
}

.footDetail p {
  color: var(--textColor);
  width: 70%;
}

.linkIcon {
  width: 30%;
}

.linkIcon ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.linkIcon ul li a {
  padding: 6px;
  color: #ffffff;
}
.linkIcon ul li:hover {
  color: var(--primary);
}

@media(max-width:1100px) {
  .empowerSec {
    width: 100vw;
    height: 622px;
  }
}
@media(max-width:1062px) {
  .inDiv{
    width: 29%;
  }
  .empowerdetail{
    width: 40%;
  }
}
@media(max-width:1006px) {
  .header {
    width: 100%;
  }
  .detail:nth-child(1){
    margin-top: -2.6em;
  }
  .detail:nth-child(2){
    margin-top: -2.6em;
  }
  .detail:nth-child(3){
    margin-top: unset;
  }

  .logo {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
  }

  nav {
    width: 100%;
    height: 100%;
  }

  .headerList {
    display: none;
  }

  .searchBar {
    display: none;
  }

  .hamburgerDiv {
    display: block;
  }
  .mainUl li ul {
    display: flex;
    flex-flow: column;
    border-radius: 20px;
    /* box-shadow: 0 0 7px #d1c7c7; */
    width: max-content;
    background-color: #fff;
    /* position: absolute; */
    margin-top: 15px;
    opacity: 0;
     visibility: hidden;
    width: 100%;
    background-color: transparent;
  }

  .Headings {
    width: 67%;
  }

  .Headings h1 {
    font-size: 30px;
  }

  .Headings h2 {
    font-size: 80px;
  }


  .detail {
    width: 34%;
    margin: 14px;
  }

  .designs h3 {
    font-size: 50px;
  }

  .inSecret {
    width: 45%;
  }

  .empowerSec {
    min-height: 678px;
  }
}

@media(max-width:926px) {
  .Container {
    justify-content: center;
  }

  .Headings {
    width: 80%;
  }

  .header {
    width: 100%;
  }
  .empowerSec {
    width: 100vw;
    height: fit-content;
    flex-wrap: wrap;
    padding: 4px;
  }
  .inDiv{
    width: 42%;
    height: fit-content;
  }
  .divInDiv{
    align-items: center;
    justify-content: center;
  }
  .empowerdetail{
    width: 80%;
    margin-top: 2em;
  }
  .empowerdetail p{
    line-height: 2em;
    letter-spacing: 1px;
  }
  .estimate{
   height: 350px; 
  }
  .secretDiv{
    padding: 1em 0 0 0;
  }
  footer,
  footer::before{
    height: 448px;
  }
}

@media(max-width:796px) {
  .logo {
    width: 98%;
  }

  .Headings {
    width: 85%;
  }

  .Headings h1 {
    font-size: 25px;
  }

  .Headings h2 {
    font-size: 70px;
  }

  .btns {
    width: 338px;
  }
  .detail:nth-child(1){
    margin-top: -2.6em;
  }
  .detail:nth-child(2){
    margin-top: unset;
  }
  .detail {
    width: 88%;
    margin: 1.3em;
  }

  .detail img {
    width: 120px;
  }

  .detail h3 {
    margin: 12px;
  }

  .detail p {
    font-size: 20px;
    width: 80%;
    /* text-align: justify; */
  }

  .designs {
    width: 100%;
    height: fit-content;
  }

  .aboutDesigns {
    width: 100%;
  }

  .groupImg {
    width: 100%;
  }

  

  .inDiv {
    width: 100%;
    margin:0px 14px;
  }

  .inDiv .divInDiv {
    height: 50% !important;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    margin: 10px auto;

  }.inDiv:nth-child(2) .divInDiv:nth-child(2),
  .inDiv:nth-child(1) .divInDiv:nth-child(1) {
    margin: 20px auto;
}

  .empowerdetail {
    margin: 2em 1px;
    width: 80%;
  }

  .empowerdetail p {
    font-size: 20px;
    line-height: 2em;
    padding: 26px 10px 10px 10px;
  }

  .values {
    flex-direction: column;
  }

  .value {
    margin: 12px;
  }

  .estimateDiv {
    width: 90%;
    flex-flow: column;
    text-align: center;
  }

  .estimateDiv h1 {
    margin: 1em;
  }

  .secret {
    padding: 4px 0;
  }

  .secret h1 {
    text-align: center;
  }

  .secretDiv {
    padding: 4px 2em;
    width: 100%;
  }

  .inSecret {
    width: 100%;
    height: fit-content;
  }
  .inSecret p{
    font-size: 20px;
  }
  footer,
  footer::before{
    height: 824px;
    /* padding: 1em; */
  }

  .foot {
    flex-wrap: wrap;
  }

  .inFoot {
    width: 90%;
  }
}

@media(max-width:652px) {
  .header {
    padding: 4px 2.2em;
  }

  .Container {
    justify-content: center;
  }

  .Headings {
    width: 90%;
    margin: 3.6em 0 0 0;
  }

  .Headings h2 {
    font-size: 60px;
  }

  .Headings h2 {
    font-size: 60px;
  }

  .detail {
    height: 378px;
  }
  footer,
  footer::before{
    height: 858px;
  }
}

@media(max-width:562px) {

  /* .header{
    width: 90%;
  } */
  .mainContainer,
  .mainContainer::before {
    height: 842px;
  }

  /* .Headings{
    margin: auto;
  } */

  .Headings h2 {
    font-size: 56px;
  }

  .Headings h2 {
    font-size: 58px;
  }

  .Headings p {
    font-size: 18px;
  }

  .btns {
    width: 90%;
    flex-flow: column;
  }

  .btns button {
    width: fit-content;
    margin: 12px auto;
    padding: 12px 16px;
  }

  .hamburger {
    border-radius: 6px;
  }
  .secretDiv{
    padding: 4px 1em;
  }
  footer{
    padding: 10px 2em;
  }
  .footDetail {
    padding: 8px;
    flex-wrap: wrap;
  }

  .footDetail p {
    text-align: center;
    width: 100%;
    margin: 0 auto 10px auto;

  }

  .linkIcon {
    width: 80%;
    margin: 10px auto;
  }
  footer,
  footer::before{
    height: 976px;
  }
}

@media(max-width:398px) {
  .header {
    padding: 6px 1em;
  }

  .logo img {
    width: 145px;
  }

  .hamburger {
    width: 42px;
    height: 42px;
  }

  .mainContainer,
  .mainContainer::before {
    height: 720px;
  }

  .Headings {
    margin-top: 1.4em;
    width: 94%;
  }

  .Headings h1 {
    font-size: 22px;
  }

  .Headings h2 {
    font-size: 50px;
  }

  .Headings p {
    font-size: 16px;
    padding: 6px 2px;
  }

  .btns {
    padding: 2px;
  }

  .detailDiv {
    margin-top: -2.6em;
  }

  .detail {
    margin: 18px auto;
    width: 96%;
  }

  .designs {
    padding: 2px;
  }

  .aboutDesigns {
    padding: 2px;
  }

  .designs h3 {
    font-size: 36px;
  }

  .designs p {
    padding: 14px 4px;
  }

  .empowerdetail h2 {
    font-size: 30px;
  }

  .divInDiv {
    width: 95%;
  }

  .detail {
    height: 442px;
  }

  .estimateDiv h1 {
    font-size: 18px;
    font-weight: 300;
    margin: 10px;
  }

  .estimateDiv button {
    margin: 10px auto;
  }

  .inFoot {
    width: 98%;
    padding: 2px;
  }

  .footDetail {
    align-items: center;
    flex-direction: column;
  }

  .footDetail p {
    width: 96%;
  }

  .linkIcon {
    width: 85%;
  }
}

@media(max-width:338px) {

  .Headings p {
    line-height: 1.8em;
  }
  footer,
  footer::before{
    height: 1052px;
  }
}